.cryptocurrency-info-container {
  margin-top: 2rem;
}

.cryptocurrency-info-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cryptocurrency-info-title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: rgb(230, 230, 230);

  display: flex;
  align-items: center;
  gap: 8px;
}

.cryptocurrency-info-title svg {
  width: 24px;
  height: 24px;

  color: #f7931a;
}

.last-update-time {
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  color: rgba(230, 230, 230, 0.3);

  display: flex;
  align-items: center;
  gap: 8px;
}

.last-update-time-icon {
  width: 16px;
  height: 16px;
  color: rgba(230, 230, 230, 0.3);

  cursor: pointer;
  transition: color .3s ease;
}

.last-update-time-icon:hover {
  color: #f7931a;
}

.cryptocurrency-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

th, td {
  /* border: 1px solid #888; */
  padding: 16px;
  text-align: left;
}

th {
  color: rgba(230, 230, 230, 1);
  font-family: 'Inter', sans-serif;
  /* font-weight: 300; */
  border-bottom: 1px solid rgba(230, 230, 230, 0.1);
  pointer-events: none;
}

td {
  color: white;
  font-family: 'Inter', sans-serif;
  /* font-weight: 200; */
  border-bottom: 1px solid rgba(230, 230, 230, 0.1);
}

td:last-of-type {
  color: rgba(230, 230, 230, 0.6);
  /* font-weight: 200; */
}

tr {
  transition: background-color .3s ease;
  cursor: pointer;
}

/* related to the tr */
.fade-in {
  opacity: 0;
  transition: opacity 0.9s ease-in;
}

.fade-in.show {
  opacity: 1;
}
/* related to the tr */

tr:nth-child(even) {
  background-color: rgba(20, 20, 20, 0.6);
}

tr:first-child {
  background-color: transparent;
}

tr:hover {
  background-color: rgba(230, 230, 230, 0.05);
}

img {
  vertical-align: middle;
  margin-right: 8px;
}

.coin-symbol{
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  color: rgba(230, 230, 230, 0.3);
  margin-left: 8px;
}